.sub-title {
    position: relative;
    padding-left: 80px;
}

.sub-title::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 1px;
    left: 0px;
    top: 14px;
    background-color: rgb(206, 227, 243);
}